
  <div class="banner-track">
    
    <a href="azinonet.html">
      <img src="assets/img/azinonet-new.png" alt="Azinonet Partners">
    </a>
    <a href="affiliate.html">
      <img src="assets/img/machpadaco-marketing-new.png" alt="Affiliate Marketing">
    </a>
    <a href="software.html">
      <img src="assets/img/machpadaco-hub-new.png" alt="Software Development">
    </a>
    <a href="affiliate.html">
      <img src="assets/img/machpadaco-consult-new2.png" alt="Business Consulting">
    </a>
    <a href="affiliate.html">
      <img src="assets/img/machpadaco-repairs-new2.png" alt="Device Repairs">
    </a>

    <a href="azinonet.html">
      <img src="assets/img/azinonet-new.png" alt="Azinonet Partners">
    </a>
    <a href="affiliate.html">
      <img src="assets/img/machpadaco-marketing-new.png" alt="Affiliate Marketing">
    </a>
    <a href="software.html">
      <img src="assets/img/machpadaco-hub-new.png" alt="Software Development">
    </a>
    <a href="affiliate.html">
      <img src="assets/img/machpadaco-consult-new2.png" alt="Business Consulting">
    </a>
    <a href="affiliate.html">
      <img src="assets/img/machpadaco-repairs-new2.png" alt="Device Repairs">
    </a>

  </div>
